<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>youwkey.timestamp</string>
	<key>connections</key>
	<dict>
		<key>0A657088-4073-408B-BD09-8314D4A58B08</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>44086652-63F0-4EAF-BEF1-62B140E3B109</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>youwkey</string>
	<key>description</key>
	<string>convert timestamp</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Unix Timestamp Converter</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>44086652-63F0-4EAF-BEF1-62B140E3B109</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>uts</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>converting...</string>
				<key>script</key>
				<string>if [ "$(uname -m)" = "arm64" ]; then
  # for arm64 architecture
  ./alfred-timestamp-arm64 $1
else
  # for x86_64(i386) architecture and fallback
  ./alfred-timestamp-amd64 $1
fi
</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>tmestamp or date...</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>0A657088-4073-408B-BD09-8314D4A58B08</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>TODO</string>
	<key>uidata</key>
	<dict>
		<key>0A657088-4073-408B-BD09-8314D4A58B08</key>
		<dict>
			<key>xpos</key>
			<integer>105</integer>
			<key>ypos</key>
			<integer>205</integer>
		</dict>
		<key>44086652-63F0-4EAF-BEF1-62B140E3B109</key>
		<dict>
			<key>xpos</key>
			<integer>345</integer>
			<key>ypos</key>
			<integer>205</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>0.0.1</string>
	<key>webaddress</key>
	<string>https://github.com/youwkey</string>
</dict>
</plist>
